In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import pyspark
import os
os.environ['PYSPARK_PYTHON'] = '/opt/anaconda3/bin/python3'
sc = pyspark.SparkContext(master="local[4]",appName="RDDfun")

## Ford GoBike's trip data

https://www.fordgobike.com/system-data


Each trip is anonymized and includes:
- Trip Duration (seconds)
- Start Time and Date
- End Time and Date
- Start Station ID
- Start Station Name
- Start Station Latitude
- Start Station Longitude
- End Station ID
- End Station Name
- End Station Latitude
- End Station Longitude
- Bike ID
- User Type (Subscriber or Customer – “Subscriber” = Member or “Customer” = Casual)
- Member Year of Birth
- Member Gender

In [2]:
rawData = sc.textFile("../2017-fordgobike-tripdata.csv")
rawData.take(2)

['"duration_sec","start_time","end_time","start_station_id","start_station_name","start_station_latitude","start_station_longitude","end_station_id","end_station_name","end_station_latitude","end_station_longitude","bike_id","user_type","member_birth_year","member_gender"',
 '"80110","2017-12-31 16:57:39.6540","2018-01-01 15:12:50.2450","74","Laguna St at Hayes St","37.776434819204745","-122.42624402046204","43","San Francisco Public Library (Grove St at Hyde St)","37.7787677","-122.4159292","96","Customer","1987","Male"']

In [64]:
col_names = rawData.filter(lambda x: x.startswith('"duration'))\
.flatMap(lambda x: x.split(",")).map(lambda x: x[1:-1]).collect()
col_names

['duration_sec',
 'start_time',
 'end_time',
 'start_station_id',
 'start_station_name',
 'start_station_latitude',
 'start_station_longitude',
 'end_station_id',
 'end_station_name',
 'end_station_latitude',
 'end_station_longitude',
 'bike_id',
 'user_type',
 'member_birth_year',
 'member_gender']

[datetime](https://docs.python.org/3/library/datetime.html#module-datetime)

In [65]:
from datetime import datetime, timedelta
dt_format = "%Y-%m-%d %H:%M:%S.%f"

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

> **TODO**: Utwórz RDD `transData` gdzie elementami są listy stringów (odfiltruj element zawierający nazwy)

In [68]:
transData = rawData.filter(lambda x: not x.startswith('"duration')).map(lambda x: [y[1:-1] for y in x.split(",")])
transData.take(2)

[['80110',
  '2017-12-31 16:57:39.6540',
  '2018-01-01 15:12:50.2450',
  '74',
  'Laguna St at Hayes St',
  '37.776434819204745',
  '-122.42624402046204',
  '43',
  'San Francisco Public Library (Grove St at Hyde St)',
  '37.7787677',
  '-122.4159292',
  '96',
  'Customer',
  '1987',
  'Male'],
 ['78800',
  '2017-12-31 15:56:34.8420',
  '2018-01-01 13:49:55.6170',
  '284',
  'Yerba Buena Center for the Arts (Howard St at 3rd St)',
  '37.78487208436062',
  '-122.40087568759917',
  '96',
  'Dolores St at 15th St',
  '37.7662102',
  '-122.4266136',
  '88',
  'Customer',
  '1965',
  'Female']]

> **TODO**: Sprawdź czy, gdzie i w ilu rekordach występują braki danych w RDD `transData` (hint: elementami RDD są listy stringów)

In [59]:
#czy
transData.filter(lambda x: "" in x).take(2)

[['45768',
  '2017-12-31 22:45:48.4110',
  '2018-01-01 11:28:36.8830',
  '245',
  'Downtown Berkeley BART',
  '37.8703477',
  '-122.2677637',
  '245',
  'Downtown Berkeley BART',
  '37.8703477',
  '-122.2677637',
  '1094',
  'Customer',
  '',
  ''],
 ['62172',
  '2017-12-31 17:31:10.6360',
  '2018-01-01 10:47:23.5310',
  '60',
  '8th St at Ringold St',
  '37.77452040113685',
  '-122.4094493687153',
  '5',
  'Powell St BART Station (Market St at 5th St)',
  '37.783899357084934',
  '-122.40844488143921',
  '2831',
  'Customer',
  '',
  '']]

In [43]:
#gdzie
transData.flatMap(lambda row: [i for i,x in enumerate(row) if x ==""]).distinct().collect()

[13, 14]

In [44]:
#ile
transData.filter(lambda x: "" in x).count()

66541

> **TODO**: Uwzględniając informacje uzyskane w poprzednim ćwiczeniu utwórz RDD `data` którego elementy będą słownikami. Słowniki te mają zawierać klucze o wartościach następujących typów:
- 'duration_sec' : "int"
- 'start_time' : "datetime"
- 'end_time' : "datetime"
- 'start_station_id' : "int"
- 'start_station_name' : "string"
- 'start_station_latitude' : "float"
- 'start_station_longitude' : "float"
- 'end_station_id' : "int"
- 'end_station_name' : "string"
- 'end_station_latitude' : "float"
- 'end_station_longitude' : "float"
- 'bike_id' : "int"
- 'user_type' : "string"
- 'member_birth_year' : "int"
- 'member_gender' : "string"

> (hint: autor zadania rozwiązał je pisząc funkcję przekształcającą elementy w RDD)

In [47]:
struct = ["int", 
          "datetime", 
          "datetime", 
          "int", 
          "string", 
          "float", 
          "float", 
          "int", 
          "string", 
          "float", 
          "float", 
          "int", 
          "string", 
          "int", 
          "string"]
struct

['int',
 'datetime',
 'datetime',
 'int',
 'string',
 'float',
 'float',
 'int',
 'string',
 'float',
 'float',
 'int',
 'string',
 'int',
 'string']

In [48]:
col_names

['duration_sec',
 'start_time',
 'end_time',
 'start_station_id',
 'start_station_name',
 'start_station_latitude',
 'start_station_longitude',
 'end_station_id',
 'end_station_name',
 'end_station_latitude',
 'end_station_longitude',
 'bike_id',
 'user_type',
 'member_birth_year',
 'member_gender']

In [69]:
def transform_type(RDD_elem, elem_struct, names, dt_fmt):
    out = dict()
    for elem, e_type, name in zip(RDD_elem, elem_struct, names):
        if e_type == "int":
            if elem == "":
                elem = 9999
            else:
                elem = int(elem)
        elif e_type == "datetime":
            elem = datetime.strptime(elem, dt_fmt)
        elif e_type == "float":
            elem = float(elem)
        out[name] = elem
    return out

In [71]:
x = transData.take(1)[0]
x

['80110',
 '2017-12-31 16:57:39.6540',
 '2018-01-01 15:12:50.2450',
 '74',
 'Laguna St at Hayes St',
 '37.776434819204745',
 '-122.42624402046204',
 '43',
 'San Francisco Public Library (Grove St at Hyde St)',
 '37.7787677',
 '-122.4159292',
 '96',
 'Customer',
 '1987',
 'Male']

In [72]:
transform_type(x, struct, col_names, dt_format)

{'bike_id': 96,
 'duration_sec': 80110,
 'end_station_id': 43,
 'end_station_latitude': 37.7787677,
 'end_station_longitude': -122.4159292,
 'end_station_name': 'San Francisco Public Library (Grove St at Hyde St)',
 'end_time': datetime.datetime(2018, 1, 1, 15, 12, 50, 245000),
 'member_birth_year': 1987,
 'member_gender': 'Male',
 'start_station_id': 74,
 'start_station_latitude': 37.776434819204745,
 'start_station_longitude': -122.42624402046204,
 'start_station_name': 'Laguna St at Hayes St',
 'start_time': datetime.datetime(2017, 12, 31, 16, 57, 39, 654000),
 'user_type': 'Customer'}

In [78]:
data = transData.map(lambda row: transform_type(row, struct, col_names, dt_format))
data.take(1)

[{'bike_id': 96,
  'duration_sec': 80110,
  'end_station_id': 43,
  'end_station_latitude': 37.7787677,
  'end_station_longitude': -122.4159292,
  'end_station_name': 'San Francisco Public Library (Grove St at Hyde St)',
  'end_time': datetime.datetime(2018, 1, 1, 15, 12, 50, 245000),
  'member_birth_year': 1987,
  'member_gender': 'Male',
  'start_station_id': 74,
  'start_station_latitude': 37.776434819204745,
  'start_station_longitude': -122.42624402046204,
  'start_station_name': 'Laguna St at Hayes St',
  'start_time': datetime.datetime(2017, 12, 31, 16, 57, 39, 654000),
  'user_type': 'Customer'}]

> **TODO**: Wykonaj cache() na RDD `data`

In [79]:
data.cache()

PythonRDD[66] at RDD at PythonRDD.scala:48

> **ZADANIE 1**: Zapoznaj się z danymi:
1. Sprawdź rozkład zmiennej "member_gender"
2. Oblicz minimalny, maksymalny i średni wiek osób wypożyczających rowery
3. Oblicz liczbę unikalnych rowerów
4. Oblicz liczbę unikalnych stacji
5. Sprawdź który rower był wypożyczony najdłużej a który najkrócej w ciągu analizowanego okresu (oraz jak długo)
6. Oblicz średni czas pojedynczego wypożyczenia
7. Sprawdź pomiędzy którymi stacjami występował największy ruch
8. Sprawdź o której godzinie w ciągu dnia wypożyczano najwięcej rowerów
9. Sprawdź *średnią liczbę wypożyczeń* dla poszczególnych dni tygodnia
10. Oblicz średni dystans (w km) pomiędzy stacją początkową a końcową dla wszystkich wypożyczeń

In [120]:
#1
data.map(lambda x: (x["member_gender"], 1)).reduceByKey(lambda x,y: x+y).collect()

[('', 66462), ('Male', 348318), ('Female', 98621), ('Other', 6299)]

In [129]:
#2
[
data.filter(lambda x: x['member_birth_year'] != 9999).map(lambda x: 2018 - x['member_birth_year']).min(),\
data.filter(lambda x: x['member_birth_year'] != 9999).map(lambda x: 2018 - x['member_birth_year']).max(),\
data.filter(lambda x: x['member_birth_year'] != 9999).map(lambda x: 2018 - x['member_birth_year']).mean()
]

[19, 132, 37.59521271783174]

In [114]:
#3
data.map(lambda x: x['bike_id']).distinct().count()

3673

In [124]:
#4
data.map(lambda x: x['start_station_id']).distinct().count()

272

> **ZADANIE 2**: Utwórz RDD `dataDaily` zawierające dane zagregowane do poziomu dnia. Każdy dzień w roku (element w RDD) ma zawierać następujące informacje: 
- 'date' : data 
- 'avg_duration_sec' : średni czas wypożyczeń danego dnia
- 'n_trips' : liczba wypożyczeń danego dnia
- 'n_bikes' : liczba unikatowych rowerów użytych danego dnia
- 'n_routes' : liczba unikatowych kombinacji stacji (x -> y == y -> x) danego dnia
- 'n_subscriber' : liczba wypożyczeń dokonanych przez subskrybentów danego dnia

> **⋆ ZADANIE 3**: Utwórz RDD klucz-wartość `bikeDaily` zawierające po jednym elemencie dla każdego `"bike_id"`. Wartościami w RDD mają być listy całkowitego dziennego wykorzystania danego roweru w sekundach (elementy listy uszeregowane chronologicznie). 
- kryterium zaliczenia danego wypożyczenia do konkretnego dnia jest moment startu
- wszystkie rowery mają mieć listy jednakowej długości

### Przetwarzanie tekstu
[Project Gutenberg](http://www.gutenberg.org/)
> **ZADANIE 4**: Wstępnie przetwórz i zbadaj Moby Dicka
1. usuń puste linie, tytuł i nazwy rozdziałów, wynik zapisz jako `textOnlyMD`
2. policz ile słów znajduje się w tekście (—)
3. policz ile unikalnych słów występuje w tekście (""".,;:()!?'"$&%*[]’”""")
4. znajdź 10 najczęstszych słów
5. sprawdź jak często wystepowało slowo "whale"

In [ ]:
rawMD = sc.textFile("MobyDick.txt")
rawMD.take(10)

> **⋆ ZADANIE 5**: Wstępnie przetwórz i zbadaj książki
1. usuń puste linie, tytuł i nazwy rozdziałów, podziel teksty na poszczególne linijki -  wynik zapisz jako `textOnlyBooks`
2. policz ile słów znajduje się w każdej książce
3. policz ile unikalnych słów występuje w każdej książce
4. policz ile unikalnych słów występuje we wszystkich książkach
4. znajdź 10 najczęstszych słów dla każdej książki
5. oblicz liczbę unikalnych słów które występują w danej książce a nie występują w pozostałych

In [ ]:
rawBooks = sc.wholeTextFiles("./MobyDick.txt,AlicesAdventuresInWonderland.txt,TheHoundOfTheBaskervilles.txt")
rawBooks.mapValues(lambda x: x[:200]).collect()